<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #3EECAC;
        background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
    }
    form{
        padding: 20px;
        background-color: rgba(245, 222, 179, 0.554);
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        border-radius: 50px;
        box-shadow: 5px 5px 5px 5px gray;
    }
    table{
        padding: 20px;
    }
    th,td{
        padding: 10px;
        border: 0px solid black ;
    }
    input,textarea{
        padding: 5px;
        background: transparent;
        border: 0px solid black;
        border-bottom: 2px solid black;
    }
    h1{
        text-align: center;
    }
    #th,#td{
        padding: 5px;
        border: 1px solid black;
    }
    #btn{
        padding: 10px 30px;
        border-radius: 20px;
        border: 1px solid black;
        /* background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%); */
    }
    #btn1{
        padding: 10px;
    }
    #btn1 a{
        text-decoration: none;
        font-weight: bold;
    }
    #tbl{
        padding: 0px;
    }
</style>
<body>
    <div id="sec1">
        <form action="/insertdata" method="post" >
            <table border="0" align="center">
                <h1>Contact us</h1>
                <tr>
                    <th>Name</th>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <th>email</th>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td><input type="text" name="address"></td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td><input type="text" name="number"></td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td><textarea name="message" id="" cols="22" rows="3"></textarea></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" id="btn"></td>
                </tr>
            </table>
        </form>
    </div>
    <div id="sec2">
            <table border="1" id="tbl">
                <tr>
                    <th id="th">NAME</th>
                    <th id="th">EMAIL</th>
                    <TH id="th">ADDRESS</TH>
                    <th id="th">PHONE</th>
                    <th id="th">MESSAGE</th>
                    <th id="th">ACTION</th>
                </tr>
                <%record.map((val)=>{%>
                    <tr>
                    
                        <td id="td"><%=val.name%></td>
                        <td id="td"><%=val.email%></td>
                        <td id="td"><%=val.address%></td>
                        <td id="td"><%=val.number%></td>
                        <td id="td"><%=val.message%></td>
                        <td id="td">
                            <button id="btn1">
                                <a href="/deletedata?id=<%=val.id%>">Delete</a>
                            </button>
                            <button id="btn1">
                                <a href="/editdata?id=<%=val.id%>">Edit</a>
                            </button>
                        </td>
                        
                    </tr>
               <%})%>
               
            </table>
    </div>
</body>
</html>