<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>editdata</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <%-include('header')-%>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <%-include('sidebar')-%>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <!-- row -->

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" action="/update" method="post" >
                                        <h2 style="text-align: center;">Edit Bunk</h2> 
                                       
                                        <input type="hidden" name="id"   value="<%=val.id%>">
                                        <div class="form-group row mb-0">
                                            <label class="col-lg-2 col-form-label" for="val-email">Bunk Name<span class="text-danger">*</span>
                                            </label> 
                                           
                                            <div class="col-lg-8">
                                                <input type="text" value="<%=val.bunk%>"  class="form-control" id="val-email" name="bunk" placeholder="Enter a Bunk Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-email">Area<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-8">
                                                <input type="text" value="<%=val.area%>" class="form-control" id="val-email" name="area" placeholder="Enter a Area Name">
                                            </div>
                                        </div>
                                    
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-password"> City<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-8">
                                                <input type="text" value="<%=val.city%>" class="form-control" id="val-password" name="city" placeholder="Enter a City Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-suggestions">Address<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-8">
                                                <input class="form-control" value="<%=val.address%>" id="val-suggestions" name="address" rows="3" placeholder="Enter a Address">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-password"> Pincode <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-8">
                                                <input type="text" value="<%=val.pincode%>" class="form-control" id="val-password" name="pincode" placeholder="Enter your Pincode">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-confirm-password">MObile-No<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-8">
                                                <input type="number" value="<%=val.number%>" class="form-control" id="val-confirm-password" name="number" placeholder="Enter a Mobile Number">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-confirm-password">Available Battery<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-8">
                                                <input type="number" value="<%=val.battery%>" class="form-control" id="val-confirm-password" name="battery" placeholder="Enter a Available Battery">
                                            </div>
                                        </div>
                                        
                                            
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                <button type="" class="btn btn-primary"><a href="/update" style="text-decoration: none; color: white;">Update Data</a></button>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <%-include('footer')-%>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

    <script src="./plugins/validation/jquery.validate.min.js"></script>
    <script src="./plugins/validation/jquery.validate-init.js"></script>

</body>

</html>